@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>


<script>

    $(function () {

        var w = Object.prototype.toString();
        var a = Object.prototype.toString.call("str");
        var b = Object.prototype.toString.call([]);

        console.log(w);
        console.log(a);
        console.log(b);


        function add(a, b) {
            alert(a + b);
        }
        function sub(a, b) {
            alert(a - b);
        }
        add.call(sub, 3, 1);

       

    });

</script>