@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/JavaScriptOop/FirstPart.js"></script>


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>


<script>

    $(function () {

        var w = Object.prototype.toString();
        var a = Object.prototype.toString.call("str");
        var b = Object.prototype.toString.call([]);

        console.log(w);
        console.log(a);
        console.log(b);


        var myImage = (function () {
            var imgNode = document.createElement('img');
            document.body.appendChild(imgNode);
            return {
                setSrc: function (src) {
                    imgNode.src = src;
                }
            }
        })();
        var proxyImage = (function () {
            var img = new Image;
            img.onload = function () {
                myImage.setSrc(this.src);
            };
            return {
                setSrc: function (src) {
                    myImage.setSrc("../Content/Images/imageA.png");
                    setTimeout(function () { img.src = src }, 2000);
                }
            }
        })();
        proxyImage.setSrc("../Content/Images/imageB.png");



    });

</script>