
@{
    ViewBag.Title = "ThisCallApply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")

<script src="~/Content/Scripts/JavaScriptOop/ImportantKnowledge.js"></script>

<body>

    <div class="test" style="height: 100px;"></div>

    <div id="div1" style="height: 100px; width: 270px; color: cornflowerblue; background-color: khaki;">我是一个 div</div>


</body>
<script>

    var load = (function () {

        query.init();


    })();

</script>
